apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: fraud-detection-api
  namespace: monitoring
  labels:
    release: monitoring-stack
spec:
  selector:
    matchLabels:
      app: fraud-detection-api
  namespaceSelector:
    matchNames:
      - mlops
  endpoints:
    - port: http       
      path: /metrics
      interval: 15s
